<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="<%= nav_active(nil)%>"><%= link_to "All", root_path %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="<%= nav_active(0)%>"><%= link_to "Asian", root_path(ethnicity: 0) %></li>
    <li class="<%= nav_active(1)%>"><%= link_to "Indian", root_path(ethnicity: 1) %></li>
    <li class="<%= nav_active(2)%>"><%= link_to "African American", root_path(ethnicity: 2) %></li>
    <li class="<%= nav_active(3)%>"><%= link_to "Asian American", root_path(ethnicity: 3) %></li>
    <li class="<%= nav_active(4)%>"><%= link_to "European", root_path(ethnicity: 4) %></li>
    <li class="<%= nav_active(5)%>"><%= link_to "British", root_path(ethnicity: 5) %></li>
    <li class="<%= nav_active(6)%>"><%= link_to "Jewish", root_path(ethnicity: 6) %></li>
    <li class="<%= nav_active(7)%>"><%= link_to "Latino", root_path(ethnicity: 7) %></li>
    <li class="<%= nav_active(8)%>"><%= link_to "Native American", root_path(ethnicity: 8) %></li>
    <li class="<%= nav_active(9)%>"><%= link_to "Arabic", root_path(ethnicity: 9) %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="<%= nav_active("favourites")%>"><%= link_to "Open Favourites", root_path(favourites: true) %></li>
  </ul>
</div>