<div class="member-card">
  <%= image_tag member.image %>
  <%= member.status %>
  <%= member.dob %>
  <%= member.ethnicity_string %>
  <%= member.weight_in_kg %>
  <%= member.height %>
  <%= member.is_veg %>
  <%= member.drink %>
</div>